{#
 # Jeśli trzeba przetestować wartości pól to można odkomentować
 # {% include '@component/com_flexicontent/templates/twig-sample/test_item_fields.html.twig'
 #    with {  'item': item, 'fields': fields } only %}
 #}
{# pojedynczy wpis w widoku kategorii #}
<article class="category-item" role="article">
    {# pluginy #}
    {{ item.event.beforeDisplayContent }}
    {# nagłówek #}
    {% if params.get('show_title', 1) or params.get('show_create_date', 0) %}
        <header class="page-header">
            {% if params.get('show_create_date', 0) %}
                {# data #}
                <time datetime="{{ flexi_field(item, 'created')|date('Y-m-d H:i') }}">{{ flexi_field(item, 'created')|date('d F Y') }}</time>
            {% endif %}
            {# tytuł #}
            <h3 class="category-item-title">{% spaceless %}
                    {% if params.get('link_titles', 0) %}
                        <a href="{{ flexi_route(item.slug, item.categoryslug, 0, item) }}">{{ flexi_field(item, 'title') }}</a>
                    {% else %}
                        {{ flexi_field(item, 'title') }}
                    {% endif %}
                {% endspaceless %}</h3>
        </header>
    {% endif %}
    {# pluginy #}
    {{ item.event.afterDisplayTitle }}
    {# miniatura #}
    {% set thumb = flexi_picture(item, 'image', 'thumb') %}
    {% if thumb is not empty %}
        {{ thumb|raw }}
    {% endif %}
    {# Treść #}
    <p>{{ flexi_field(item, 'text')|limit_words(params.get('text_limit_words', 25)) }}</p>
    {# czytaj więcej #}
    {% if params.get('show_readmore', 1) %}
        <a class="btn btn-primary" href="{{ flexi_route(item.slug, item.categoryslug, 0, item) }}">{{ trans('FLEXI_READ_MORE') }}</a>
    {% endif %}
    {# pluginy #}
    {{ item.event.afterDisplayContent }}
</article>
