{# widok artykułu #}
<article class="item-view{% if pageclass_sfx is not empty %} {{ pageclass_sfx }}{% endif %}" role="article">
    {# pluginy #}
    {{ item.event.beforeDisplayContent }}
    {# nagłówek #}
    {% if params.get('show_page_heading', 1) or params.get('show_title', 1) %}
        <header class="page-header">
            {% if params.get('show_create_date') %}
                {# data #}
                <time datetime="{{ flexi_field(item, 'created')|date('Y-m-d H:i') }}">{{ flexi_field(item, 'created')|date('d F Y') }}</time>
            {% endif %}
            {# tytuł #}
            {% if params.get('show_page_heading', 1) and params.get('show_title', 1) %}
                <h2>{% spaceless %}{{ params.get('page_heading') }}{% endspaceless %}</h2>
                <h3>{% spaceless %}{{ flexi_field(item, 'title') }}{% endspaceless %}</h3>
            {% else %}
                <h2 class="itemTitle">{% spaceless %}{{ flexi_field(item, 'title') }}{% endspaceless %}</h2>
            {% endif %}
        </header>
    {% endif %}
    {# pluginy #}
    {{ item.event.afterDisplayTitle }}
    {# ilustracja #}
    {% set image = flexi_picture(item, 'image', 'image') %}
    {% if image is not empty %}
        {{ image|raw }}
    {% endif %}
    {# Treść #}
    {{ flexi_field(item, 'text')|raw }}
    {# pluginy #}
    {{ item.event.afterDisplayContent }}
</article>
